<nav class="nav-gradient" id="main-navbar">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo" id="nav-brand">
            <i class="material-icons">lock</i> AuthApp
        </a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="nav-links">
            <!-- Se llena dinámicamente con JS -->
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-nav">
    <!-- Se llena dinámicamente con JS -->
</ul>
